<%= form_for @user do |f| %>
   <div class="form-group">
    <div class="form-group">
      <%= f.label :emaile %>
      <%= f.text_field :email, placeholder: "Email", class: "form-control", autofocus: true, :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "First Name", class: "form-control", autofocus: true, :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control", autofocus: true, :required => true %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-block tip-button" %>
  </div>
<% end %>
