<%= form_for @product do |f| %>
   <div class="form-group">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Product Name", class: "form-control", autofocus: true, :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, placeholder: "Product Description", class: "form-control", autofocus: true, :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :min_price %>
      <%= f.text_field :min_price, placeholder: "Minimum Acceptable price", class: "form-control", autofocus: true, :required => true %>
    </div>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.text_field :avatar, placeholder: " www.example.com/image.jpg", class: "form-control", autofocus: true %>
    </div>
    <div class="form-group">
      <%= f.label :inventory_amount %>
      <%= f.text_field :inventory_amount, placeholder: "Has your inventory changed?", autofocus: true, class: "form-control", :required => true%>
    </div>

      <div class="row">
    <%= f.hidden_field :total_donated_amount, :value => 0 %>
  </div>
    <div class="actions">
      <%= f.submit "Save", class: "btn btn-block tip-button" %>
    </div>
  </div>
<% end %>
