
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="article-title text-center"><%= @product.name %></h2>
    <br>
    <h4><strong>Description: </strong><%= @product.description %></h4>
    <h4><strong>Minimum Price: </strong> <%= @product.min_price %> </h4>
    <h4><strong>Remaining Inventory: </strong> <%= @product.inventory_amount %> </h4>
    <h4><strong>Total Donations: </strong> $<%= @product.total_donated_amount %> </h4>

    <hr>


    <span><%= link_to "Edit Product", edit_product_path(@product.id) %></span>
    <br>
    <span><%= link_to "All Products", products_path %></span>
    <hr>
    <span class="pull-right"><%= button_to " Delete Product ", {action:"destroy", id: @product.id}, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
</div>
