<br>
<br>
<div class="container">


  <%= form_tag charges_path do %>
    <article>

      <div id="error_explanation">
        <% if flash[:error].present? %>
          <p><%= flash[:error] %></p>
        <% end %>
      </div>

  <!--     <label class="amount">
        <span>Amount: $5.00</span> -->
      </label>
    </article>
  <% end %>

  <%= form_for @charge do |f| %>
  <div class="form-group">
   <div class="form-group">
     <%= f.label :name %>
     <%= f.text_field :customer_name, placeholder: "Full Name", class: "form-control", id:"cust-name", autofocus: true, :required => true %>
   </div>
   <div class="form-group">
     <%= f.label :email %>
     <%= f.text_field :customer_email, placeholder: "Email", class: "form-control",  id:"cust-email", autofocus: true, :required => true %>
   </div>


   <div class="form-group">
      <%= label_tag(:amount, 'Donation Amount:') %>
      <%= text_field_tag(:amount) %>
      <%= f.hidden_field :amount, id: "cust-amt" %>

      <%= hidden_field_tag(:stripeToken) %>

    </div>

    <button class="btn btn-primary", id='donateButton'>Donate</button>
  <br>
  <% end %>
  <br>
  <!-- prevents donations from being less than min price set in product -->
  <div class="form-group">
      <p>Minimum: $<%= @product.min_price %></p>
      <%= hidden_field_tag :min_price, @product.min_price %>
    </div>



</div>


<script src="https://checkout.stripe.com/checkout.js"></script>
<script>
var handler = StripeCheckout.configure({
  key: '<%= Rails.configuration.stripe[:publishable_key] %>',
  locale: 'auto',
  name: 'Project Fun(d)raiser',
  description: 'One-time donation',
  token: function(token) {
    $('input#stripeToken').val(token.id);
    $('form').submit();
  }
});


$('#donateButton').on('click', function(e) {
  e.preventDefault();

  $('#error_explanation').html('');

  var amount = $('input#amount').val();
  amount = amount.replace(/\$/g, '').replace(/\,/g, '')
  amount = parseFloat(amount);

  var email = $('input#cust-email').val()
  var name = $('input#cust-name').val()
  var minPrice = $('input#min_price').val()


  if (isNaN(amount) || (amount == "")) {
    $('#error_explanation').html('<p class="alert alert-danger">Please enter a valid amount in USD ($).</p>');
    }
  else if (amount < minPrice) {
    $('#error_explanation').html('<p class="alert alert-danger">Donation amount must be equal to or higher than the minimum price.</p>');
  }
  else if (name == "") {
    $('#error_explanation').html('<p class="alert alert-danger">Please enter your full name.</p>');
  }
  else if ( (email == "")) {
    $('#error_explanation').html('<p class="alert alert-danger">Please enter a valid email address.</p>');
  }
  else {
    amount = amount * 100; // Needs to be an integer!
    $('input#cust-amt').val(amount / 100);
    handler.open({
      amount: Math.round(amount)
    })
  }
});
</script>
